model-viewer {
    width: auto;
    max-width: 1200px;
    height: 700px;
    background-color: #efefef;
    margin: 0 auto;
}

#mobile-view {
    display: none;
}

.Hotspot {
    background: url(../images/hotspot.svg) center no-repeat;
    border: 0px;
    width: 45px;
    height: 38px;
    transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
    opacity: 0;
    pointer-events: none;
}

.HotspotAnnotation {
    visibility: hidden;
    background: #E89B36;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 18px;
    left: calc(100% + 1em);
    max-width: 300px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
    text-align: left;
}

.HotspotAnnotation p {
    color: #ffffff;
    line-height: 22px;
    font-weight: 300;
}

.HotspotAnnotation h2 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.HotspotAnnotation img {
    max-width: 250px;
}

.progress-bar {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 4px;
    pointer-events: none;
    z-index: 10;
}

.react {
    animation: moving 1s ease-in-out forwards;
}

@keyframes moving {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

model-viewer::part(default-progress-bar) {
    background: none;
    position: relative;
    height: 4px;
}

@keyframes circle {
    from {
      transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
    }

    to {
      transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
    }
}

@keyframes elongate {
    from {
      transform: translateX(100px);
    }

    to {
      transform: translateX(-100px);
    }
}

#material-list {
  list-style: none;
  padding: 0;
  margin: 5px;
}

@media screen and (max-width: 768px) {

    model-viewer {
        display: none;
    }

    #mobile-view {
        display: block;
        text-align: center;
    }

    #mobile-view img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}